body{
    background-color: #353B48;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: white;
}
.container > h1{
    margin-top: 4%; 
}

.container > .btn-primary {
    background: #000000;
    opacity: 0.21;
    
}
.container > .row > .col-sm-4 >.btn-block {
    background: #000000;
    opacity: 0.21;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 10%;
    height: 5em;
    font-size: 1.5em;
}
.container > .row {
    margin-top: 5%;
    margin-left: 2%;
}